@model NewVendorViewModel


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">New Vendor Request</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Request</li>
                </ol>
            </nav><br /><br />
            <form method="post" enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="Requester"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Requester" class="form-control" />
                        <span asp-validation-for="Requester" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="RoleTitle"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="RoleTitle" class="form-control" />
                        <span asp-validation-for="RoleTitle" class="text-danger"></span>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-2">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
             
                
              
                <br /><br />

                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save New Request</button>
                    <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}